.thread-body{
  margin: 6px 0px auto 15px;



  .question{
    padding-top: 20px;
    color:black;
    font-size: 16px;
    padding-right: 10px;
    text-align: left;
   
  }
  .time{
    
    color:#d2d5d9;
     font-size: 12px;
    
  }
  span {
    
    font-weight: bold;
    text-transform: capitalize;
    
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:14px;
    color:#979797;
  }
}
